.whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/016/188/535/original/animated-laughing-elements-flat-cartoon-style-hd-footage-funny-joke-sense-of-humor-positive-feeling-color-illustration-on-white-background-with-alpha-channel-transparency-for-animation-video.jpg);
  background-size: contain;
}
